body {
  background-color: #0e0e0e;
}
.main-page {
  background-color: aquamarine;
  height: 100vh;
}
.sidebar {
  height: 100%;

  background-color: #5443c3;
}
.content-area {
  height: 100vh;
  background-color: #ffffff;
  overflow-y: auto;
}
h5 {
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item {
  margin: 10px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.nav-link {
  color: white;
  font-size: 1.3em;
}
.nav-link:hover {
  color: white;
}
.nav-item:hover {
  background-color: #7669d1;
}
.active {
  background-color: #7669d1;
}
.c1 {
  height: 200px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  text-align: center;

  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.card-img-top {
  background-color: grey;
}
img {
  height: 200px;
  width: 200px;
}
.c2 {
  background-color: #ffffff;
}
#jsonDisplay {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  text-align: left;
  height: 350px;
  overflow-y: auto;
}

#example {
  height: 100vh;
}
